<section class="h-screen bg-cover bg-center relative flex items-center text-white" style="background-image: url('assets/hero-img.jpg');">
    <div class="container mx-auto flex flex-col md:flex-row items-center px-6 md:px-12">
      <!-- Text Content Section with Semi-Transparent Background -->
      <div class=" p-8 rounded-md flex-1 text-center md:text-left md:pl-10">
        <h1 class="font-heading text-5xl md:text-6xl font-extrabold mb-4 tracking-tight leading-none">
          Muscle Growth <br>
          <span class="text-red-500">Made Simple.</span>
        </h1>
        <p class="font-body text-lg mb-4">No more guesswork. Just RESULTS.</p>
        <div class="mt-6">
          <button class="bg-red-500 hover:bg-red-600 text-white font-bold py-3 px-8 rounded-full text-lg tracking-wider transition duration-300">
            Get Jacked
          </button>
        </div>
        <p class="font-body text-sm mt-4 text-gray-300">
          Start now risk free! 30 day money-back guarantee
        </p>
      </div>
    </div>
  
    <!-- Bottom Text Section -->
    <div class="absolute bottom-0 left-0 right-0 bg-black/70 py-4">
      <p class="font-body text-center text-sm text-gray-300">
        Designed by Dr. Mike Israetel, PhD sports scientists, and an IFBB Pro bodybuilder to be the last program you'll ever need.
      </p>
    </div>
  </section>
  